In [ ]:
%pip install pandas xgboost lbgm

In [5]:
import pandas as pd

df=pd.read_csv('table_fixt.csv', names=['Round Number', 'Location', 'Home', 'Away'])
df.head()

   Round Number                  Location       Home       Away
0           NaN                       NaN        NaN        NaN
1  Round Number                  Location  Home Team  Away Team
2             1                   Anfield          7          1
3             1                Villa Park        495          9
4             1  American Express Stadium          2        502

In [6]:
df=df.iloc[2:]

In [7]:
df.head()

  Round Number                   Location Home Away
2            1                    Anfield    7    1
3            1                 Villa Park  495    9
4            1   American Express Stadium    2  502
5            1           Stadium of Light  500   14
6            1  Tottenham Hotspur Stadium   15    8

In [9]:
import requests, json
h2h_rec=[]


for index, rows in df.iterrows():
    team1= rows['Home']
    team2= rows['Away']
    url = f"https://livescore-api.com/api-client/teams/head2head.json?team1_id={team1}&team2_id={team2}&key=2O4NK7SsaREzVlj3&secret=PqXIrAwgyGMznJuqyzdiG5KRXprTLKWA"
    # Make the request to the Livescore API
    response = requests.get(url)
    
    data = response.json()
    h2h = data.get("data", [])
    head=h2h.get("team1", [])
    h2h=head.get("h2h_form",[])
    h2h_rec.append(h2h)
df['H2H'] = h2h_rec

In [10]:
score=[]
for index, rows in df.iterrows():
    S=0
    h2h = rows['H2H']
    for match in h2h:
        if match=='W':
            S+=3
        elif match=='L':
            S-=3
        elif match=='D':
            S+=0
    score.append(S)
df['h2h_index']=score

In [11]:
df.head()

,Round Number,Location,Home,Away,H2H,h2h_index
2,1,Anfield,7,1,"[W, W, W, W, W, L]",12
3,1,Villa Park,495,9,"[W, L, L, L, D, W]",-3
4,1,American Express Stadium,2,502,"[W, L, L, D, L, L]",-9
5,1,Stadium of Light,500,14,[],0
6,1,Tottenham Hotspur Stadium,15,8,"[W, W, W, W, L, W]",12

In [12]:
df.shape

(380, 6)

In [13]:
elo_df=pd.read_csv('teamid - Sheet1.csv', names=['Team','Team ID', 'Elo Rating'])

In [14]:
elo_df=elo_df[1:]
elo_df.head()

                    Team   Team ID Elo Rating
Team       team_id   Elo  awin_pct   hwin_pct
Man City   12       1960        42         60
Sunderland 500      1547        18         32
Tottenham  15       1774        33         54
Liverpool  7        1993        43         64

In [15]:
elo_map=dict(zip(elo_df['Team ID'], elo_df['Elo Rating']))

df['homeElo']=df['Home'].map(elo_map)
df['awayElo']=df['Away'].map(elo_map)

In [16]:
df.head()

,Round Number,Location,Home,Away,H2H,h2h_index,homeElo,awayElo
2,1,Anfield,7,1,"[W, W, W, W, W, L]",12,NaN,NaN
3,1,Villa Park,495,9,"[W, L, L, L, D, W]",-3,NaN,NaN
4,1,American Express Stadium,2,502,"[W, L, L, D, L, L]",-9,NaN,NaN
5,1,Stadium of Light,500,14,[],0,NaN,NaN
6,1,Tottenham Hotspur Stadium,15,8,"[W, W, W, W, L, W]",12,NaN,NaN

In [18]:
train_df=pd.read_csv('synth_train_elo_diff_h2h.csv')

In [19]:
train_df.head()

   home_team   away_team  elo_diff  h2h_index result
0    Arsenal    West Ham       243       1.68      H
1   West Ham      Fulham       -32       2.08      D
2     Fulham       Leeds        60       2.73      D
3  Brentford  Sunderland       264       6.74      H
4  Brentford   Tottenham        37       1.12      D

In [21]:
train_df.shape

(3000, 5)

In [22]:
train_df['result'].value_counts()

result
H    1336
A     873
D     791
Name: count, dtype: int64

In [24]:
df.head()

,Round Number,Location,Home,Away,H2H,h2h_index,homeElo,awayElo
2,1,Anfield,7,1,"[W, W, W, W, W, L]",12,NaN,NaN
3,1,Villa Park,495,9,"[W, L, L, L, D, W]",-3,NaN,NaN
4,1,American Express Stadium,2,502,"[W, L, L, D, L, L]",-9,NaN,NaN
5,1,Stadium of Light,500,14,[],0,NaN,NaN
6,1,Tottenham Hotspur Stadium,15,8,"[W, W, W, W, L, W]",12,NaN,NaN

In [25]:
elo_df=pd.read_csv('teamid - Sheet1.csv', names=['Team','Team ID', 'Elo Rating', 'awayw_pct', 'homew_pct'])

In [26]:
elo_df=elo_df[2:]
elo_df.head()

           Team Team ID Elo Rating awayw_pct homew_pct
2      Man City      12       1960        42        60
3    Sunderland     500       1547        18        32
4    Tottenham       15       1774        33        54
5     Liverpool       7       1993        43        64
6  Nottm Forest     487       1803        26        37

In [27]:
awayw_pct_map=dict(zip(elo_df['Team ID'], elo_df['awayw_pct']))
homew_pct_map=dict(zip(elo_df['Team ID'], elo_df['homew_pct']))

df['awayW_pct']= df['Away'].map(awayw_pct_map)
df['homeW_pct']= df['Home'].map(homew_pct_map)

In [28]:
df=df.rename(columns={
    'h2h_index': 'h2h_bias',
    'homeElo': 'home_team_elo',
    'awayElo': 'away_team_elo',
    'homeW_pct': 'home_stadium_win_pct',
    'awayW_pct': 'away_stadium_win_pct'
})

In [29]:
df.head()

,Round Number,Location,Home,Away,H2H,h2h_bias,home_team_elo,away_team_elo,away_stadium_win_pct,home_stadium_win_pct
2,1,Anfield,7,1,"[W, W, W, W, W, L]",12,NaN,NaN,26,64
3,1,Villa Park,495,9,"[W, L, L, L, D, W]",-3,NaN,NaN,26,42
4,1,American Express Stadium,2,502,"[W, L, L, D, L, L]",-9,NaN,NaN,18,35
5,1,Stadium of Light,500,14,[],0,NaN,NaN,24,32
6,1,Tottenham Hotspur Stadium,15,8,"[W, W, W, W, L, W]",12,NaN,NaN,20,54

In [30]:
train_df.head()

   home_team   away_team  elo_diff  h2h_index result
0    Arsenal    West Ham       243       1.68      H
1   West Ham      Fulham       -32       2.08      D
2     Fulham       Leeds        60       2.73      D
3  Brentford  Sunderland       264       6.74      H
4  Brentford   Tottenham        37       1.12      D

In [31]:
df = df[['Home','Away','home_team_elo', 'away_team_elo', 'home_stadium_win_pct', 'away_stadium_win_pct', 'h2h_bias']]

In [32]:
df.head()

,Home,Away,home_team_elo,away_team_elo,home_stadium_win_pct,away_stadium_win_pct,h2h_bias
2,7,1,NaN,NaN,64,26,12
3,495,9,NaN,NaN,42,26,-3
4,2,502,NaN,NaN,35,18,-9
5,500,14,NaN,NaN,32,24,0
6,15,8,NaN,NaN,54,20,12

In [33]:
elo_map=dict(zip(elo_df['Team ID'], elo_df['Elo Rating']))
df['home_team_elo'] = df['Home'].map(elo_map)
df['away_team_elo'] = df['Away'].map(elo_map)

In [34]:
df.head()

,Home,Away,home_team_elo,away_team_elo,home_stadium_win_pct,away_stadium_win_pct,h2h_bias
2,7,1,1993,1808,64,26,12
3,495,9,1873,1869,42,26,-3
4,2,502,1827,1782,35,18,-9
5,500,14,1547,1750,32,24,0
6,15,8,1774,1730,54,20,12

In [36]:

df.to_csv('out/test.csv', index=False)
train_df.to_csv('out/train.csv', index=False)
elo_df.to_csv('out/elo.csv', index=False)

In [69]:
# Features and labels
X = train_df[['elo_dif',
        'home_stadium_win_pct', 'away_stadium_win_pct',
        'h2h_bias']]
y = train_df['result']   # Should be 'H', 'A', or 'D'

In [98]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, log_loss

y_num=y.map({'H': 0, 'D': 1, 'A': 2})
X_train, X_test, y_train, y_test=train_test_split(X,y_num,test_size=0.3,random_state=42)
cat_clf=CatBoostClassifier(iterations=50, learning_rate=0.05, depth=4, loss_function='MultiClass',
                           eval_metric='Accuracy',class_weights=[1,1.6,1.3],verbose=0, random_seed=42)

cat_clf.fit(X_train, y_train)
y_pred=cat_clf.predict(X_test)
print(accuracy_score(y_test, y_pred))
y_proba=cat_clf.predict_proba(X_test)
print(log_loss(y_test, y_proba))

0.4711111111111111
1.0671738269537745

In [103]:
from catboost import CatBoostClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, log_loss
from imblearn.over_sampling import SMOTE
import numpy as np

y_num = y.map({'H': 0, 'D': 1, 'A': 2})

# K-Fold Cross Validation
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
acc_scores = []
logloss_scores = []

for train_idx, test_idx in kf.split(X, y_num):
    X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
    y_train, y_test = y_num.iloc[train_idx], y_num.iloc[test_idx]
    
    
    cat_clfk= CatBoostClassifier(
        iterations=50,
        learning_rate=0.05,
        depth=4,
        loss_function='MultiClass',
        eval_metric='Accuracy',
        class_weights=[1, 1.6, 1.3],
        verbose=0,
        random_seed=42
    )
    cat_clfk.fit(X_train, y_train)
    y_pred = cat_clfk.predict(X_test)
    y_proba = cat_clfk.predict_proba(X_test)
    acc_scores.append(accuracy_score(y_test, y_pred))
    logloss_scores.append(log_loss(y_test, y_proba))

print("K-Fold Accuracy: %.4f ± %.4f" % (np.mean(acc_scores), np.std(acc_scores)))
print("K-Fold Log Loss: %.4f ± %.4f" % (np.mean(logloss_scores), np.std(logloss_scores)))

K-Fold Accuracy: 0.4747 ± 0.0110
K-Fold Log Loss: 1.0636 ± 0.0050

In [70]:
df.head()

,Home,Away,home_team_elo,away_team_elo,home_stadium_win_pct,away_stadium_win_pct,h2h_bias,result
2,7,1,1993,1808,64,26,12,0
3,495,9,1873,1869,42,26,-3,0
4,2,502,1827,1782,35,18,-9,0
5,500,14,1547,1750,32,24,0,0
6,15,8,1774,1730,54,20,12,0

In [92]:
df['home_team_elo'] = pd.to_numeric(df['home_team_elo'], errors='coerce')
df['away_team_elo'] = pd.to_numeric(df['away_team_elo'], errors='coerce')
df['elo_dif'] = df['home_team_elo'] - df['away_team_elo']

In [93]:
id_map = dict(zip(elo_df['Team ID'], elo_df['Team']))

points={
    'Liverpool': 0,
    'Man City': 0,
    'Arsenal ': 0,
    'Man Utd': 0,
    'Chelsea': 0,
    'Tottenham ': 0,
    'Aston Villa': 0,
    'Brighton': 0,
    'Newcastle Utd': 0,
    'Brentford': 0,
    'Fulham': 0,
    'Crystal Palace': 0,
    'Wolves': 0,
    'West Ham': 0,
    'Nottm Forest': 0,
    'Bournemouth ': 0,
    'Everton': 0,
    'Sunderland': 0,
    'Burnley': 0,
    'Leeds': 0

}

X_new=df[['elo_dif','home_stadium_win_pct', 'away_stadium_win_pct', 'h2h_bias']]
y_new=cat_clf.predict(X_new)
y_new=y_new.flatten()  # Convert (n,1) to (n,)

df['result']=y_new


h_ct, a_ct, d_ct=0,0,0
for index, row in df.iterrows():
    home_team = id_map.get(row['Home'], row['Home'])
    away_team = id_map.get(row['Away'], row['Away'])
    result = row['result']
    

    print(f"Match: {home_team} vs {away_team}, Result: {result}")
    
    if result == 0:
        points[home_team] += 3
        h_ct+=1
    elif result == 2:
        points[away_team] += 3
        a_ct+=1
    elif result == 1:
        points[home_team] += 1
        points[away_team] += 1
        d_ct+=1

sorted_points = dict(sorted(points.items(), key=lambda item: item[1], reverse=True))
for team, pts in sorted_points.items():
    print(f"{team}:{ pts} points")
print(h_ct, a_ct, d_ct)

Match: Liverpool vs Bournemouth , Result: 0
Match: Aston Villa vs Newcastle Utd, Result: 0
Match: Brighton vs Fulham, Result: 0
Match: Sunderland vs West Ham, Result: 0
Match: Tottenham  vs Burnley, Result: 0
Match: Wolves vs Man City, Result: 2
Match: Nottm Forest vs Brentford, Result: 1
Match: Chelsea vs Crystal Palace, Result: 0
Match: Man Utd vs Arsenal , Result: 2
Match: Leeds vs Everton, Result: 0
Match: West Ham vs Chelsea, Result: 2
Match: Man City vs Tottenham , Result: 0
Match: Bournemouth  vs Wolves, Result: 0
Match: Brentford vs Aston Villa, Result: 0
Match: Burnley vs Sunderland, Result: 0
Match: Arsenal  vs Leeds, Result: 0
Match: Crystal Palace vs Nottm Forest, Result: 0
Match: Everton vs Brighton, Result: 0
Match: Fulham vs Man Utd, Result: 0
Match: Newcastle Utd vs Liverpool, Result: 2
Match: Chelsea vs Fulham, Result: 0
Match: Man Utd vs Burnley, Result: 0
Match: Sunderland vs Brentford, Result: 0
Match: Tottenham  vs Bournemouth , Result: 0
Match: Wolves vs Everton, Result: 0
Match: Leeds vs Newcastle Utd, Result: 0
Match: Brighton vs Man City, Result: 2
Match: Nottm Forest vs West Ham, Result: 0
Match: Liverpool vs Arsenal , Result: 0
Match: Aston Villa vs Crystal Palace, Result: 0
Match: Arsenal  vs Nottm Forest, Result: 0
Match: Bournemouth  vs Brighton, Result: 0
Match: Crystal Palace vs Sunderland, Result: 0
Match: Everton vs Aston Villa, Result: 0
Match: Fulham vs Leeds, Result: 0
Match: Newcastle Utd vs Wolves, Result: 0
Match: West Ham vs Tottenham , Result: 0
Match: Brentford vs Chelsea, Result: 0
Match: Burnley vs Liverpool, Result: 2
Match: Man City vs Man Utd, Result: 0
Match: Liverpool vs Everton, Result: 0
Match: Bournemouth  vs Newcastle Utd, Result: 0
Match: Brighton vs Tottenham , Result: 0
Match: Burnley vs Nottm Forest, Result: 1
Match: West Ham vs Crystal Palace, Result: 0
Match: Wolves vs Leeds, Result: 0
Match: Man Utd vs Chelsea, Result: 2
Match: Fulham vs Brentford, Result: 0
Match: Sunderland vs Aston Villa, Result: 0
Match: Arsenal  vs Man City, Result: 0
Match: Brentford vs Man Utd, Result: 0
Match: Aston Villa vs Fulham, Result: 0
Match: Chelsea vs Brighton, Result: 0
Match: Crystal Palace vs Liverpool, Result: 2
Match: Leeds vs Bournemouth , Result: 0
Match: Man City vs Burnley, Result: 0
Match: Nottm Forest vs Sunderland, Result: 0
Match: Tottenham  vs Wolves, Result: 0
Match: Newcastle Utd vs Arsenal , Result: 2
Match: Everton vs West Ham, Result: 0
Match: Arsenal  vs West Ham, Result: 0
Match: Aston Villa vs Burnley, Result: 0
Match: Bournemouth  vs Fulham, Result: 0
Match: Brentford vs Man City, Result: 2
Match: Chelsea vs Liverpool, Result: 0
Match: Everton vs Crystal Palace, Result: 0
Match: Leeds vs Tottenham , Result: 0
Match: Man Utd vs Sunderland, Result: 0
Match: Newcastle Utd vs Nottm Forest, Result: 0
Match: Wolves vs Brighton, Result: 0
Match: Brighton vs Newcastle Utd, Result: 0
Match: Burnley vs Leeds, Result: 0
Match: Crystal Palace vs Bournemouth , Result: 0
Match: Fulham vs Arsenal , Result: 2
Match: Liverpool vs Man Utd, Result: 0
Match: Man City vs Everton, Result: 0
Match: Nottm Forest vs Chelsea, Result: 2
Match: Sunderland vs Wolves, Result: 0
Match: Tottenham  vs Aston Villa, Result: 0
Match: West Ham vs Brentford, Result: 0
Match: Arsenal  vs Crystal Palace, Result: 0
Match: Aston Villa vs Man City, Result: 2
Match: Bournemouth  vs Nottm Forest, Result: 0
Match: Brentford vs Liverpool, Result: 2
Match: Chelsea vs Sunderland, Result: 0
Match: Everton vs Tottenham , Result: 0
Match: Leeds vs West Ham, Result: 0
Match: Man Utd vs Brighton, Result: 0
Match: Newcastle Utd vs Fulham, Result: 0
Match: Wolves vs Burnley, Result: 0
Match: Brighton vs Leeds, Result: 0
Match: Burnley vs Arsenal , Result: 2
Match: Crystal Palace vs Brentford, Result: 0
Match: Fulham vs Wolves, Result: 0
Match: Liverpool vs Aston Villa, Result: 0
Match: Man City vs Bournemouth , Result: 0
Match: Nottm Forest vs Man Utd, Result: 0
Match: Sunderland vs Everton, Result: 2
Match: Tottenham  vs Chelsea, Result: 2
Match: West Ham vs Newcastle Utd, Result: 0
Match: Aston Villa vs Bournemouth , Result: 0
Match: Brentford vs Newcastle Utd, Result: 0
Match: Chelsea vs Wolves, Result: 0
Match: Crystal Palace vs Brighton, Result: 0
Match: Everton vs Fulham, Result: 0
Match: Man City vs Liverpool, Result: 0
Match: Nottm Forest vs Leeds, Result: 0
Match: Sunderland vs Arsenal , Result: 2
Match: Tottenham  vs Man Utd, Result: 0
Match: West Ham vs Burnley, Result: 0
Match: Arsenal  vs Tottenham , Result: 0
Match: Bournemouth  vs West Ham, Result: 0
Match: Brighton vs Brentford, Result: 0
Match: Burnley vs Chelsea, Result: 2
Match: Fulham vs Sunderland, Result: 0
Match: Leeds vs Aston Villa, Result: 2
Match: Liverpool vs Nottm Forest, Result: 0
Match: Man Utd vs Everton, Result: 0
Match: Newcastle Utd vs Man City, Result: 2
Match: Wolves vs Crystal Palace, Result: 0
Match: Aston Villa vs Wolves, Result: 0
Match: Brentford vs Burnley, Result: 0
Match: Chelsea vs Arsenal , Result: 0
Match: Crystal Palace vs Man Utd, Result: 0
Match: Everton vs Newcastle Utd, Result: 0
Match: Man City vs Leeds, Result: 0
Match: Nottm Forest vs Brighton, Result: 0
Match: Sunderland vs Bournemouth , Result: 0
Match: Tottenham  vs Fulham, Result: 0
Match: West Ham vs Liverpool, Result: 2
Match: Arsenal  vs Brentford, Result: 0
Match: Bournemouth  vs Everton, Result: 0
Match: Brighton vs Aston Villa, Result: 0
Match: Burnley vs Crystal Palace, Result: 0
Match: Fulham vs Man City, Result: 2
Match: Leeds vs Chelsea, Result: 2
Match: Liverpool vs Sunderland, Result: 0
Match: Man Utd vs West Ham, Result: 0
Match: Newcastle Utd vs Tottenham , Result: 0
Match: Wolves vs Nottm Forest, Result: 1
Match: Aston Villa vs Arsenal , Result: 2
Match: Bournemouth  vs Chelsea, Result: 2
Match: Brighton vs West Ham, Result: 0
Match: Everton vs Nottm Forest, Result: 0
Match: Fulham vs Crystal Palace, Result: 0
Match: Leeds vs Liverpool, Result: 2
Match: Man City vs Sunderland, Result: 0
Match: Newcastle Utd vs Burnley, Result: 0
Match: Tottenham  vs Brentford, Result: 0
Match: Wolves vs Man Utd, Result: 0
Match: Arsenal  vs Wolves, Result: 0
Match: Brentford vs Leeds, Result: 0
Match: Burnley vs Fulham, Result: 1
Match: Chelsea vs Everton, Result: 0
Match: Crystal Palace vs Man City, Result: 2
Match: Liverpool vs Brighton, Result: 0
Match: Man Utd vs Bournemouth , Result: 0
Match: Nottm Forest vs Tottenham , Result: 0
Match: Sunderland vs Newcastle Utd, Result: 2
Match: West Ham vs Aston Villa, Result: 0
Match: Aston Villa vs Man Utd, Result: 0
Match: Bournemouth  vs Burnley, Result: 0
Match: Brighton vs Sunderland, Result: 0
Match: Everton vs Arsenal , Result: 2
Match: Fulham vs Nottm Forest, Result: 0
Match: Leeds vs Crystal Palace, Result: 0
Match: Man City vs West Ham, Result: 0
Match: Newcastle Utd vs Chelsea, Result: 0
Match: Tottenham  vs Liverpool, Result: 2
Match: Wolves vs Brentford, Result: 0
Match: Arsenal  vs Brighton, Result: 0
Match: Brentford vs Bournemouth , Result: 0
Match: Burnley vs Everton, Result: 0
Match: Chelsea vs Aston Villa, Result: 0
Match: Crystal Palace vs Tottenham , Result: 0
Match: Liverpool vs Wolves, Result: 0
Match: Man Utd vs Newcastle Utd, Result: 0
Match: Nottm Forest vs Man City, Result: 2
Match: Sunderland vs Leeds, Result: 2
Match: West Ham vs Fulham, Result: 0
Match: Arsenal  vs Aston Villa, Result: 0
Match: Brentford vs Tottenham , Result: 0
Match: Burnley vs Newcastle Utd, Result: 0
Match: Chelsea vs Bournemouth , Result: 0
Match: Crystal Palace vs Fulham, Result: 0
Match: Liverpool vs Leeds, Result: 0
Match: Man Utd vs Wolves, Result: 0
Match: Nottm Forest vs Everton, Result: 0
Match: Sunderland vs Man City, Result: 2
Match: West Ham vs Brighton, Result: 0
Match: Aston Villa vs Nottm Forest, Result: 0
Match: Bournemouth  vs Arsenal , Result: 2
Match: Brighton vs Burnley, Result: 0
Match: Everton vs Brentford, Result: 0
Match: Fulham vs Liverpool, Result: 2
Match: Leeds vs Man Utd, Result: 0
Match: Man City vs Chelsea, Result: 0
Match: Newcastle Utd vs Crystal Palace, Result: 0
Match: Tottenham  vs Sunderland, Result: 0
Match: Wolves vs West Ham, Result: 0
Match: Arsenal  vs Liverpool, Result: 0
Match: Bournemouth  vs Tottenham , Result: 0
Match: Brentford vs Sunderland, Result: 0
Match: Burnley vs Man Utd, Result: 0
Match: Crystal Palace vs Aston Villa, Result: 1
Match: Everton vs Wolves, Result: 0
Match: Fulham vs Chelsea, Result: 0
Match: Man City vs Brighton, Result: 0
Match: Newcastle Utd vs Leeds, Result: 0
Match: West Ham vs Nottm Forest, Result: 0
Match: Aston Villa vs Everton, Result: 0
Match: Brighton vs Bournemouth , Result: 0
Match: Chelsea vs Brentford, Result: 0
Match: Leeds vs Fulham, Result: 0
Match: Liverpool vs Burnley, Result: 0
Match: Man Utd vs Man City, Result: 2
Match: Nottm Forest vs Arsenal , Result: 2
Match: Sunderland vs Crystal Palace, Result: 0
Match: Tottenham  vs West Ham, Result: 0
Match: Wolves vs Newcastle Utd, Result: 0
Match: Arsenal  vs Man Utd, Result: 0
Match: Bournemouth  vs Liverpool, Result: 2
Match: Brentford vs Nottm Forest, Result: 0
Match: Burnley vs Tottenham , Result: 1
Match: Crystal Palace vs Chelsea, Result: 2
Match: Everton vs Leeds, Result: 0
Match: Fulham vs Brighton, Result: 0
Match: Man City vs Wolves, Result: 0
Match: Newcastle Utd vs Aston Villa, Result: 0
Match: West Ham vs Sunderland, Result: 0
Match: Aston Villa vs Brentford, Result: 0
Match: Brighton vs Everton, Result: 0
Match: Chelsea vs West Ham, Result: 0
Match: Leeds vs Arsenal , Result: 2
Match: Liverpool vs Newcastle Utd, Result: 0
Match: Man Utd vs Fulham, Result: 0
Match: Nottm Forest vs Crystal Palace, Result: 0
Match: Sunderland vs Burnley, Result: 0
Match: Tottenham  vs Man City, Result: 2
Match: Wolves vs Bournemouth , Result: 1
Match: Arsenal  vs Sunderland, Result: 0
Match: Bournemouth  vs Aston Villa, Result: 0
Match: Brighton vs Crystal Palace, Result: 0
Match: Burnley vs West Ham, Result: 1
Match: Fulham vs Everton, Result: 0
Match: Leeds vs Nottm Forest, Result: 0
Match: Liverpool vs Man City, Result: 0
Match: Man Utd vs Tottenham , Result: 0
Match: Newcastle Utd vs Brentford, Result: 0
Match: Wolves vs Chelsea, Result: 2
Match: Aston Villa vs Brighton, Result: 0
Match: Brentford vs Arsenal , Result: 2
Match: Chelsea vs Leeds, Result: 0
Match: Crystal Palace vs Burnley, Result: 0
Match: Everton vs Bournemouth , Result: 0
Match: Man City vs Fulham, Result: 0
Match: Nottm Forest vs Wolves, Result: 0
Match: Sunderland vs Liverpool, Result: 2
Match: Tottenham  vs Newcastle Utd, Result: 0
Match: West Ham vs Man Utd, Result: 0
Match: Aston Villa vs Leeds, Result: 0
Match: Brentford vs Brighton, Result: 0
Match: Chelsea vs Burnley, Result: 0
Match: Crystal Palace vs Wolves, Result: 0
Match: Everton vs Man Utd, Result: 0
Match: Man City vs Newcastle Utd, Result: 0
Match: Nottm Forest vs Liverpool, Result: 2
Match: Sunderland vs Fulham, Result: 0
Match: Tottenham  vs Arsenal , Result: 2
Match: West Ham vs Bournemouth , Result: 0
Match: Arsenal  vs Chelsea, Result: 0
Match: Bournemouth  vs Sunderland, Result: 0
Match: Brighton vs Nottm Forest, Result: 0
Match: Burnley vs Brentford, Result: 0
Match: Fulham vs Tottenham , Result: 0
Match: Leeds vs Man City, Result: 2
Match: Liverpool vs West Ham, Result: 0
Match: Man Utd vs Crystal Palace, Result: 0
Match: Newcastle Utd vs Everton, Result: 0
Match: Wolves vs Aston Villa, Result: 0
Match: Aston Villa vs Chelsea, Result: 0
Match: Bournemouth  vs Brentford, Result: 0
Match: Brighton vs Arsenal , Result: 2
Match: Everton vs Burnley, Result: 0
Match: Fulham vs West Ham, Result: 0
Match: Leeds vs Sunderland, Result: 0
Match: Man City vs Nottm Forest, Result: 0
Match: Newcastle Utd vs Man Utd, Result: 0
Match: Tottenham  vs Crystal Palace, Result: 0
Match: Wolves vs Liverpool, Result: 2
Match: Arsenal  vs Everton, Result: 0
Match: Brentford vs Wolves, Result: 0
Match: Burnley vs Bournemouth , Result: 0
Match: Chelsea vs Newcastle Utd, Result: 0
Match: Crystal Palace vs Leeds, Result: 0
Match: Liverpool vs Tottenham , Result: 0
Match: Man Utd vs Aston Villa, Result: 0
Match: Nottm Forest vs Fulham, Result: 1
Match: Sunderland vs Brighton, Result: 0
Match: West Ham vs Man City, Result: 2
Match: Aston Villa vs West Ham, Result: 0
Match: Bournemouth  vs Man Utd, Result: 0
Match: Brighton vs Liverpool, Result: 2
Match: Everton vs Chelsea, Result: 2
Match: Fulham vs Burnley, Result: 0
Match: Leeds vs Brentford, Result: 0
Match: Man City vs Crystal Palace, Result: 0
Match: Newcastle Utd vs Sunderland, Result: 0
Match: Tottenham  vs Nottm Forest, Result: 0
Match: Wolves vs Arsenal , Result: 2
Match: Arsenal  vs Bournemouth , Result: 0
Match: Brentford vs Everton, Result: 0
Match: Burnley vs Brighton, Result: 0
Match: Chelsea vs Man City, Result: 0
Match: Crystal Palace vs Newcastle Utd, Result: 1
Match: Liverpool vs Fulham, Result: 0
Match: Man Utd vs Leeds, Result: 0
Match: Nottm Forest vs Aston Villa, Result: 0
Match: Sunderland vs Tottenham , Result: 2
Match: West Ham vs Wolves, Result: 0
Match: Aston Villa vs Sunderland, Result: 0
Match: Brentford vs Fulham, Result: 0
Match: Chelsea vs Man Utd, Result: 0
Match: Crystal Palace vs West Ham, Result: 0
Match: Everton vs Liverpool, Result: 2
Match: Leeds vs Wolves, Result: 0
Match: Man City vs Arsenal , Result: 0
Match: Newcastle Utd vs Bournemouth , Result: 0
Match: Nottm Forest vs Burnley, Result: 0
Match: Tottenham  vs Brighton, Result: 0
Match: Arsenal  vs Newcastle Utd, Result: 0
Match: Bournemouth  vs Leeds, Result: 0
Match: Brighton vs Chelsea, Result: 2
Match: Burnley vs Man City, Result: 2
Match: Fulham vs Aston Villa, Result: 0
Match: Liverpool vs Crystal Palace, Result: 0
Match: Man Utd vs Brentford, Result: 0
Match: Sunderland vs Nottm Forest, Result: 0
Match: West Ham vs Everton, Result: 0
Match: Wolves vs Tottenham , Result: 2
Match: Arsenal  vs Fulham, Result: 0
Match: Aston Villa vs Tottenham , Result: 0
Match: Bournemouth  vs Crystal Palace, Result: 0
Match: Brentford vs West Ham, Result: 0
Match: Chelsea vs Nottm Forest, Result: 0
Match: Everton vs Man City, Result: 2
Match: Leeds vs Burnley, Result: 0
Match: Man Utd vs Liverpool, Result: 2
Match: Newcastle Utd vs Brighton, Result: 0
Match: Wolves vs Sunderland, Result: 0
Match: Brighton vs Wolves, Result: 0
Match: Burnley vs Aston Villa, Result: 0
Match: Crystal Palace vs Everton, Result: 1
Match: Fulham vs Bournemouth , Result: 0
Match: Liverpool vs Chelsea, Result: 0
Match: Man City vs Brentford, Result: 0
Match: Nottm Forest vs Newcastle Utd, Result: 0
Match: Sunderland vs Man Utd, Result: 2
Match: Tottenham  vs Leeds, Result: 0
Match: West Ham vs Arsenal , Result: 2
Match: Arsenal  vs Burnley, Result: 0
Match: Aston Villa vs Liverpool, Result: 0
Match: Bournemouth  vs Man City, Result: 2
Match: Brentford vs Crystal Palace, Result: 0
Match: Chelsea vs Tottenham , Result: 0
Match: Everton vs Sunderland, Result: 0
Match: Leeds vs Brighton, Result: 0
Match: Man Utd vs Nottm Forest, Result: 0
Match: Newcastle Utd vs West Ham, Result: 0
Match: Wolves vs Fulham, Result: 0
Match: Brighton vs Man Utd, Result: 0
Match: Burnley vs Wolves, Result: 0
Match: Crystal Palace vs Arsenal , Result: 2
Match: Fulham vs Newcastle Utd, Result: 0
Match: Liverpool vs Brentford, Result: 0
Match: Man City vs Aston Villa, Result: 0
Match: Nottm Forest vs Bournemouth , Result: 0
Match: Sunderland vs Chelsea, Result: 2
Match: Tottenham  vs Everton, Result: 0
Match: West Ham vs Leeds, Result: 0
Man City:105 points
Arsenal :105 points
Liverpool:102 points
Chelsea:93 points
Aston Villa:55 points
Tottenham :52 points
Newcastle Utd:52 points
Fulham:50 points
Brentford:49 points
Everton:49 points
Man Utd:48 points
West Ham:46 points
Bournemouth :46 points
Brighton:45 points
Leeds:45 points
Nottm Forest:43 points
Crystal Palace:39 points
Wolves:38 points
Burnley:37 points
Sunderland:30 points
303 66 11

In [96]:
import numpy as np

# Elo update function
def update_elo(elo_home, elo_away, result, k=20):
    """
    Updates Elo ratings after a match.
    result: 'H', 'A', or 'D' (home, away, draw)
    k: K-factor (controls update magnitude)
    """
    # Expected probabilities (logistic model)
    exp_home = 1 / (1 + 10 ** ((elo_away - elo_home) / 400))
    exp_away = 1 - exp_home

    # Actual outcomes
    if result == 0:
        score_home, score_away = 1, 0
    elif result == 2:
        score_home, score_away = 0, 1
    else:  # Draw
        score_home, score_away = 0.5, 0.5

    # Update ratings
    new_home = elo_home + k * (score_home - exp_home)
    new_away = elo_away + k * (score_away - exp_away)

    return new_home, new_away


# ID → Team mapping
id_map = dict(zip(elo_df['Team ID'], elo_df['Team']))

# Initialize points
points = {
    'Liverpool': 0,
    'Man City': 0,
    'Arsenal ': 0,
    'Man Utd': 0,
    'Chelsea': 0,
    'Tottenham ': 0,
    'Aston Villa': 0,
    'Brighton': 0,
    'Newcastle Utd': 0,
    'Brentford': 0,
    'Fulham': 0,
    'Crystal Palace': 0,
    'Wolves': 0,
    'West Ham': 0,
    'Nottm Forest': 0,
    'Bournemouth ': 0,
    'Everton': 0,
    'Sunderland': 0,
    'Burnley': 0,
    'Leeds': 0
}

# Create a dict to hold current Elo ratings (from df)
elos = {}
for _, row in elo_df.iterrows():
    elos[row['Team']] = row['Elo Rating']

# Extract features and predict
X_new = df[['elo_dif', 'home_stadium_win_pct', 'away_stadium_win_pct', 'h2h_bias']]
y_new = cat_clf.predict(X_new).flatten()
df['result'] = y_new

# Counters
h_ct, a_ct, d_ct = 0, 0, 0

# Simulate season
for index, row in df.iterrows():
    home_team = id_map.get(row['Home'], row['Home'])
    away_team = id_map.get(row['Away'], row['Away'])
    result = row['result']

    # Use current Elo values
    elo_home = float(elos[home_team])
    elo_away = float(elos[away_team])

    print(f"Match: {home_team} ({elo_home:.1f}) vs {away_team} ({elo_away:.1f}), Result: {'H' if result == 0 else 'A' if result == 2 else 'D'}")

    # Update points
    if result == 0:
        points[home_team] += 3
        h_ct += 1
    elif result == 2:
        points[away_team] += 3
        a_ct += 1
    elif result == 1:
        points[home_team] += 1
        points[away_team] += 1
        d_ct += 1

    # Update Elo ratings
    new_home, new_away = update_elo(elo_home, elo_away, result, k=20)
    elos[home_team] = new_home
    elos[away_team] = new_away

# Final table
sorted_points = dict(sorted(points.items(), key=lambda item: item[1], reverse=True))
print("\n--- Final Points Table ---")
for team, pts in sorted_points.items():
    print(f"{team}: {pts} points (Elo {elos[team]:.1f})")

print(f"\nHome Wins: {h_ct}, Away Wins: {a_ct}, Draws: {d_ct}")

Match: Liverpool (1993.0) vs Bournemouth  (1808.0), Result: H
Match: Aston Villa (1873.0) vs Newcastle Utd (1869.0), Result: H
Match: Brighton (1827.0) vs Fulham (1782.0), Result: H
Match: Sunderland (1547.0) vs West Ham (1750.0), Result: H
Match: Tottenham  (1774.0) vs Burnley (1730.0), Result: H
Match: Wolves (1736.0) vs Man City (1960.0), Result: A
Match: Nottm Forest (1803.0) vs Brentford (1811.0), Result: D
Match: Chelsea (1903.0) vs Crystal Palace (1835.0), Result: H
Match: Man Utd (1799.0) vs Arsenal  (1993.0), Result: A
Match: Leeds (1722.0) vs Everton (1794.0), Result: H
Match: West Ham (1734.7) vs Chelsea (1911.1), Result: A
Match: Man City (1964.3) vs Tottenham  (1782.7), Result: H
Match: Bournemouth  (1802.9) vs Wolves (1731.7), Result: H
Match: Brentford (1810.8) vs Aston Villa (1882.9), Result: H
Match: Burnley (1721.3) vs Sunderland (1562.3), Result: H
Match: Arsenal  (1997.9) vs Leeds (1734.0), Result: H
Match: Crystal Palace (1826.9) vs Nottm Forest (1803.2), Result: H
Match: Everton (1782.0) vs Brighton (1835.7), Result: H
Match: Fulham (1773.3) vs Man Utd (1794.1), Result: H
Match: Newcastle Utd (1859.1) vs Liverpool (1998.1), Result: A
Match: Chelsea (1916.4) vs Fulham (1783.9), Result: H
Match: Man Utd (1783.5) vs Burnley (1727.0), Result: H
Match: Sunderland (1556.5) vs Brentford (1822.8), Result: H
Match: Tottenham  (1777.5) vs Bournemouth  (1810.9), Result: H
Match: Wolves (1723.7) vs Everton (1793.5), Result: H
Match: Leeds (1730.5) vs Newcastle Utd (1852.9), Result: H
Match: Brighton (1824.2) vs Man City (1969.5), Result: A
Match: Nottm Forest (1793.9) vs West Ham (1729.4), Result: H
Match: Liverpool (2004.3) vs Arsenal  (2001.5), Result: H
Match: Aston Villa (1870.8) vs Crystal Palace (1836.3), Result: H
Match: Arsenal  (1991.6) vs Nottm Forest (1802.1), Result: H
Match: Bournemouth  (1799.9) vs Brighton (1818.1), Result: H
Match: Crystal Palace (1827.2) vs Sunderland (1573.0), Result: H
Match: Everton (1781.5) vs Aston Villa (1879.8), Result: H
Match: Fulham (1777.5) vs Leeds (1743.8), Result: H
Match: Newcastle Utd (1839.5) vs Wolves (1735.7), Result: H
Match: West Ham (1721.3) vs Tottenham  (1788.5), Result: H
Match: Brentford (1806.4) vs Chelsea (1922.7), Result: H
Match: Burnley (1718.6) vs Liverpool (2014.2), Result: A
Match: Man City (1975.6) vs Man Utd (1791.9), Result: H
Match: Liverpool (2017.3) vs Everton (1794.3), Result: H
Match: Bournemouth  (1810.4) vs Newcastle Utd (1846.6), Result: H
Match: Brighton (1807.6) vs Tottenham  (1776.6), Result: H
Match: Burnley (1715.5) vs Nottm Forest (1797.0), Result: D
Match: West Ham (1733.2) vs Crystal Palace (1831.0), Result: H
Match: Wolves (1728.6) vs Leeds (1734.8), Result: H
Match: Man Utd (1786.7) vs Chelsea (1909.5), Result: A
Match: Fulham (1786.6) vs Brentford (1819.6), Result: H
Match: Sunderland (1569.2) vs Aston Villa (1867.1), Result: H
Match: Arsenal  (1996.6) vs Man City (1980.7), Result: H
Match: Brentford (1808.6) vs Man Utd (1780.1), Result: H
Match: Aston Villa (1850.1) vs Fulham (1797.5), Result: H
Match: Chelsea (1916.1) vs Brighton (1816.7), Result: H
Match: Crystal Palace (1818.3) vs Liverpool (2021.7), Result: A
Match: Leeds (1724.6) vs Bournemouth  (1821.5), Result: H
Match: Man City (1971.2) vs Burnley (1717.8), Result: H
Match: Nottm Forest (1794.7) vs Sunderland (1586.2), Result: H
Match: Tottenham  (1767.5) vs Wolves (1738.8), Result: H
Match: Newcastle Utd (1835.6) vs Arsenal  (2006.2), Result: A
Match: Everton (1789.9) vs West Ham (1745.9), Result: H
Match: Arsenal  (2011.6) vs West Ham (1737.2), Result: H
Match: Aston Villa (1858.6) vs Burnley (1714.0), Result: H
Match: Bournemouth  (1808.7) vs Fulham (1789.0), Result: H
Match: Brentford (1817.8) vs Man City (1975.0), Result: A
Match: Chelsea (1923.3) vs Liverpool (2026.4), Result: H
Match: Everton (1798.7) vs Crystal Palace (1813.5), Result: H
Match: Leeds (1737.3) vs Tottenham  (1776.6), Result: H
Match: Man Utd (1770.9) vs Sunderland (1581.6), Result: H
Match: Newcastle Utd (1830.1) vs Nottm Forest (1799.4), Result: H
Match: Wolves (1729.6) vs Brighton (1809.5), Result: H
Match: Brighton (1797.2) vs Newcastle Utd (1839.3), Result: H
Match: Burnley (1708.0) vs Leeds (1748.5), Result: H
Match: Crystal Palace (1803.1) vs Bournemouth  (1818.2), Result: H
Match: Fulham (1779.6) vs Arsenal  (2015.0), Result: A
Match: Liverpool (2013.5) vs Man Utd (1775.9), Result: H
Match: Man City (1980.7) vs Everton (1809.1), Result: H
Match: Nottm Forest (1790.3) vs Chelsea (1936.2), Result: A
Match: Sunderland (1576.5) vs Wolves (1741.9), Result: H
Match: Tottenham  (1765.5) vs Aston Villa (1864.7), Result: H
Match: West Ham (1733.8) vs Brentford (1812.1), Result: H
Match: Arsenal  (2019.1) vs Crystal Palace (1813.5), Result: H
Match: Aston Villa (1851.9) vs Man City (1986.1), Result: A
Match: Bournemouth  (1807.7) vs Nottm Forest (1784.2), Result: H
Match: Brentford (1799.9) vs Liverpool (2017.6), Result: A
Match: Chelsea (1942.3) vs Sunderland (1590.9), Result: H
Match: Everton (1803.7) vs Tottenham  (1778.3), Result: H
Match: Leeds (1737.3) vs West Ham (1746.0), Result: H
Match: Man Utd (1771.9) vs Brighton (1808.4), Result: H
Match: Newcastle Utd (1828.1) vs Fulham (1775.5), Result: H
Match: Wolves (1727.4) vs Burnley (1719.1), Result: H
Match: Brighton (1797.4) vs Leeds (1747.6), Result: H
Match: Burnley (1709.4) vs Arsenal  (2023.8), Result: A
Match: Crystal Palace (1808.8) vs Brentford (1795.4), Result: H
Match: Fulham (1767.0) vs Wolves (1737.2), Result: H
Match: Liverpool (2022.0) vs Aston Villa (1845.6), Result: H
Match: Man City (1992.5) vs Bournemouth  (1817.1), Result: H
Match: Nottm Forest (1774.9) vs Man Utd (1782.9), Result: H
Match: Sunderland (1588.6) vs Everton (1812.9), Result: A
Match: Tottenham  (1769.0) vs Chelsea (1944.6), Result: A
Match: West Ham (1735.7) vs Newcastle Utd (1836.6), Result: H
Match: Aston Villa (1840.3) vs Bournemouth  (1811.7), Result: H
Match: Brentford (1785.8) vs Newcastle Utd (1823.7), Result: H
Match: Chelsea (1949.9) vs Wolves (1728.0), Result: H
Match: Crystal Palace (1818.5) vs Brighton (1806.0), Result: H
Match: Everton (1817.3) vs Fulham (1776.1), Result: H
Match: Man City (1997.8) vs Liverpool (2027.3), Result: H
Match: Nottm Forest (1785.1) vs Leeds (1739.0), Result: H
Match: Sunderland (1584.3) vs Arsenal  (2026.6), Result: A
Match: Tottenham  (1763.7) vs Man Utd (1772.7), Result: H
Match: West Ham (1748.5) vs Burnley (1706.6), Result: H
Match: Arsenal  (2028.1) vs Tottenham  (1774.0), Result: H
Match: Bournemouth  (1802.5) vs West Ham (1757.3), Result: H
Match: Brighton (1796.3) vs Brentford (1796.9), Result: H
Match: Burnley (1697.8) vs Chelsea (1954.3), Result: A
Match: Fulham (1767.3) vs Sunderland (1582.8), Result: H
Match: Leeds (1730.3) vs Aston Villa (1849.5), Result: A
Match: Liverpool (2016.5) vs Nottm Forest (1793.8), Result: H
Match: Man Utd (1762.4) vs Everton (1826.1), Result: H
Match: Newcastle Utd (1812.6) vs Man City (2008.6), Result: A
Match: Wolves (1723.7) vs Crystal Palace (1828.1), Result: H
Match: Aston Villa (1856.2) vs Wolves (1736.6), Result: H
Match: Brentford (1786.9) vs Burnley (1694.0), Result: H
Match: Chelsea (1958.0) vs Arsenal  (2031.9), Result: H
Match: Crystal Palace (1815.2) vs Man Utd (1774.3), Result: H
Match: Everton (1814.3) vs Newcastle Utd (1807.8), Result: H
Match: Man City (2013.5) vs Leeds (1723.6), Result: H
Match: Nottm Forest (1789.5) vs Brighton (1806.3), Result: H
Match: Sunderland (1577.7) vs Bournemouth  (1811.3), Result: H
Match: Tottenham  (1770.2) vs Fulham (1772.4), Result: H
Match: West Ham (1748.6) vs Liverpool (2020.8), Result: A
Match: Arsenal  (2019.8) vs Brentford (1794.3), Result: H
Match: Bournemouth  (1795.4) vs Everton (1824.1), Result: H
Match: Brighton (1795.9) vs Aston Villa (1862.9), Result: H
Match: Burnley (1686.7) vs Crystal Palace (1824.0), Result: H
Match: Fulham (1762.4) vs Man City (2016.7), Result: A
Match: Leeds (1720.4) vs Chelsea (1970.1), Result: A
Match: Liverpool (2024.3) vs Sunderland (1593.6), Result: H
Match: Man Utd (1765.4) vs West Ham (1745.2), Result: H
Match: Newcastle Utd (1797.9) vs Tottenham  (1780.3), Result: H
Match: Wolves (1729.9) vs Nottm Forest (1800.0), Result: D
Match: Aston Villa (1850.9) vs Arsenal  (2024.1), Result: A
Match: Bournemouth  (1806.2) vs Chelsea (1973.9), Result: A
Match: Brighton (1807.8) vs West Ham (1735.8), Result: H
Match: Everton (1813.3) vs Nottm Forest (1798.0), Result: H
Match: Fulham (1758.6) vs Crystal Palace (1810.2), Result: H
Match: Leeds (1716.6) vs Liverpool (2025.8), Result: A
Match: Man City (2020.5) vs Sunderland (1592.0), Result: H
Match: Newcastle Utd (1807.4) vs Burnley (1700.4), Result: H
Match: Tottenham  (1770.8) vs Brentford (1790.0), Result: H
Match: Wolves (1731.9) vs Man Utd (1774.8), Result: H
Match: Arsenal  (2029.4) vs Wolves (1743.1), Result: H
Match: Brentford (1779.4) vs Leeds (1713.7), Result: H
Match: Burnley (1693.4) vs Fulham (1770.1), Result: D
Match: Chelsea (1979.5) vs Everton (1822.8), Result: H
Match: Crystal Palace (1798.8) vs Man City (2022.0), Result: A
Match: Liverpool (2028.7) vs Brighton (1815.7), Result: H
Match: Man Utd (1763.6) vs Bournemouth  (1800.7), Result: H
Match: Nottm Forest (1788.4) vs Tottenham  (1781.3), Result: H
Match: Sunderland (1590.5) vs Newcastle Utd (1814.4), Result: A
Match: West Ham (1727.8) vs Aston Villa (1845.6), Result: H
Match: Aston Villa (1832.3) vs Man Utd (1774.7), Result: H
Match: Bournemouth  (1789.6) vs Burnley (1695.6), Result: H
Match: Brighton (1811.2) vs Sunderland (1586.1), Result: H
Match: Everton (1817.0) vs Arsenal  (2032.7), Result: A
Match: Fulham (1767.9) vs Nottm Forest (1798.2), Result: H
Match: Leeds (1705.6) vs Crystal Palace (1794.4), Result: H
Match: Man City (2026.4) vs West Ham (1741.1), Result: H
Match: Newcastle Utd (1818.8) vs Chelsea (1985.2), Result: H
Match: Tottenham  (1771.5) vs Liverpool (2033.3), Result: A
Match: Wolves (1739.9) vs Brentford (1787.5), Result: H
Match: Arsenal  (2037.2) vs Brighton (1815.5), Result: H
Match: Brentford (1776.2) vs Bournemouth  (1797.0), Result: H
Match: Burnley (1688.2) vs Everton (1812.6), Result: H
Match: Chelsea (1970.8) vs Aston Villa (1840.6), Result: H
Match: Crystal Palace (1781.9) vs Tottenham  (1767.9), Result: H
Match: Liverpool (2036.9) vs Wolves (1751.3), Result: H
Match: Man Utd (1766.3) vs Newcastle Utd (1833.2), Result: H
Match: Nottm Forest (1787.3) vs Man City (2029.6), Result: A
Match: Sunderland (1581.8) vs Leeds (1718.1), Result: A
Match: West Ham (1737.8) vs Fulham (1778.8), Result: H
Match: Arsenal  (2041.5) vs Aston Villa (1834.2), Result: H
Match: Brentford (1786.8) vs Tottenham  (1758.3), Result: H
Match: Burnley (1701.6) vs Newcastle Utd (1821.3), Result: H
Match: Chelsea (1977.2) vs Bournemouth  (1786.4), Result: H
Match: Crystal Palace (1791.5) vs Fulham (1767.6), Result: H
Match: Liverpool (2040.1) vs Leeds (1724.3), Result: H
Match: Man Utd (1778.2) vs Wolves (1748.0), Result: H
Match: Nottm Forest (1783.4) vs Everton (1799.1), Result: H
Match: Sunderland (1575.6) vs Man City (2033.6), Result: A
Match: West Ham (1749.0) vs Brighton (1811.1), Result: H
Match: Aston Villa (1829.6) vs Nottm Forest (1793.8), Result: H
Match: Bournemouth  (1781.4) vs Arsenal  (2046.2), Result: A
Match: Brighton (1799.4) vs Burnley (1715.0), Result: H
Match: Everton (1788.7) vs Brentford (1796.0), Result: H
Match: Fulham (1758.3) vs Liverpool (2042.9), Result: A
Match: Leeds (1721.6) vs Man Utd (1787.4), Result: H
Match: Man City (2034.9) vs Chelsea (1982.2), Result: H
Match: Newcastle Utd (1808.0) vs Crystal Palace (1800.8), Result: H
Match: Tottenham  (1749.1) vs Sunderland (1574.2), Result: H
Match: Wolves (1738.9) vs West Ham (1760.8), Result: H
Match: Arsenal  (2049.8) vs Liverpool (2046.2), Result: H
Match: Bournemouth  (1777.8) vs Tottenham  (1754.5), Result: H
Match: Brentford (1785.8) vs Sunderland (1568.9), Result: H
Match: Burnley (1707.3) vs Man Utd (1775.5), Result: H
Match: Crystal Palace (1791.1) vs Aston Villa (1838.5), Result: D
Match: Everton (1798.9) vs Wolves (1749.5), Result: H
Match: Fulham (1755.1) vs Chelsea (1973.7), Result: H
Match: Man City (2043.4) vs Brighton (1807.0), Result: H
Match: Newcastle Utd (1817.8) vs Leeds (1733.4), Result: H
Match: West Ham (1750.1) vs Nottm Forest (1784.8), Result: H
Match: Aston Villa (1837.2) vs Everton (1807.5), Result: H
Match: Brighton (1802.9) vs Bournemouth  (1787.1), Result: H
Match: Chelsea (1958.1) vs Brentford (1790.2), Result: H
Match: Leeds (1725.8) vs Fulham (1770.6), Result: H
Match: Liverpool (2036.3) vs Burnley (1719.3), Result: H
Match: Man Utd (1763.6) vs Man City (2047.5), Result: A
Match: Nottm Forest (1773.8) vs Arsenal  (2059.6), Result: A
Match: Sunderland (1564.4) vs Crystal Palace (1792.4), Result: H
Match: Tottenham  (1745.1) vs West Ham (1761.1), Result: H
Match: Wolves (1740.9) vs Newcastle Utd (1825.4), Result: H
Match: Arsenal  (2062.9) vs Man Utd (1760.3), Result: H
Match: Bournemouth  (1777.6) vs Liverpool (2039.1), Result: A
Match: Brentford (1784.7) vs Nottm Forest (1770.6), Result: H
Match: Burnley (1716.5) vs Tottenham  (1755.6), Result: D
Match: Crystal Palace (1776.7) vs Chelsea (1963.6), Result: A
Match: Everton (1798.3) vs Leeds (1737.1), Result: H
Match: Fulham (1759.3) vs Brighton (1812.4), Result: H
Match: Man City (2050.8) vs Wolves (1753.3), Result: H
Match: Newcastle Utd (1813.0) vs Aston Villa (1846.3), Result: H
Match: West Ham (1750.7) vs Sunderland (1580.2), Result: H
Match: Aston Villa (1835.4) vs Brentford (1794.3), Result: H
Match: Brighton (1800.9) vs Everton (1806.6), Result: H
Match: Chelsea (1968.7) vs West Ham (1756.1), Result: H
Match: Leeds (1728.8) vs Arsenal  (2065.9), Result: A
Match: Liverpool (2042.7) vs Newcastle Utd (1824.0), Result: H
Match: Man Utd (1757.3) vs Fulham (1770.9), Result: H
Match: Nottm Forest (1761.0) vs Crystal Palace (1771.6), Result: H
Match: Sunderland (1574.7) vs Burnley (1717.6), Result: H
Match: Tottenham  (1754.5) vs Man City (2053.8), Result: A
Match: Wolves (1750.3) vs Bournemouth  (1774.0), Result: D
Match: Arsenal  (2068.4) vs Sunderland (1588.6), Result: H
Match: Bournemouth  (1773.3) vs Aston Villa (1844.2), Result: H
Match: Brighton (1811.1) vs Crystal Palace (1761.3), Result: H
Match: Burnley (1703.7) vs West Ham (1751.6), Result: D
Match: Fulham (1760.5) vs Everton (1796.4), Result: H
Match: Leeds (1726.3) vs Nottm Forest (1771.3), Result: H
Match: Liverpool (2047.1) vs Man City (2056.8), Result: H
Match: Man Utd (1767.7) vs Tottenham  (1751.4), Result: H
Match: Newcastle Utd (1819.6) vs Brentford (1785.5), Result: H
Match: Wolves (1750.9) vs Chelsea (1973.3), Result: A
Match: Aston Villa (1832.2) vs Brighton (1819.7), Result: H
Match: Brentford (1776.5) vs Arsenal  (2069.6), Result: A
Match: Chelsea (1977.6) vs Leeds (1737.6), Result: H
Match: Crystal Palace (1752.7) vs Burnley (1705.1), Result: H
Match: Everton (1785.4) vs Bournemouth  (1785.3), Result: H
Match: Man City (2046.6) vs Fulham (1771.5), Result: H
Match: Nottm Forest (1760.0) vs Wolves (1746.6), Result: H
Match: Sunderland (1587.4) vs Liverpool (2057.4), Result: A
Match: Tottenham  (1741.9) vs Newcastle Utd (1828.6), Result: H
Match: West Ham (1750.2) vs Man Utd (1777.2), Result: H
Match: Aston Villa (1841.8) vs Leeds (1733.6), Result: H
Match: Brentford (1773.3) vs Brighton (1810.0), Result: H
Match: Chelsea (1981.6) vs Burnley (1696.5), Result: H
Match: Crystal Palace (1761.3) vs Wolves (1737.0), Result: H
Match: Everton (1795.4) vs Man Utd (1766.5), Result: H
Match: Man City (2050.0) vs Newcastle Utd (1816.1), Result: H
Match: Nottm Forest (1769.6) vs Liverpool (2058.6), Result: A
Match: Sunderland (1586.2) vs Fulham (1768.1), Result: H
Match: Tottenham  (1754.4) vs Arsenal  (2072.7), Result: A
Match: West Ham (1761.0) vs Bournemouth  (1775.3), Result: H
Match: Arsenal  (2075.4) vs Chelsea (1984.9), Result: H
Match: Bournemouth  (1764.9) vs Sunderland (1601.0), Result: H
Match: Brighton (1799.0) vs Nottm Forest (1766.5), Result: H
Match: Burnley (1693.2) vs Brentford (1784.4), Result: H
Match: Fulham (1753.3) vs Tottenham  (1751.6), Result: H
Match: Leeds (1726.6) vs Man City (2054.1), Result: A
Match: Liverpool (2061.8) vs West Ham (1771.4), Result: H
Match: Man Utd (1757.3) vs Crystal Palace (1770.6), Result: H
Match: Newcastle Utd (1812.0) vs Everton (1804.5), Result: H
Match: Wolves (1727.7) vs Aston Villa (1848.8), Result: H
Match: Aston Villa (1835.5) vs Chelsea (1977.4), Result: H
Match: Bournemouth  (1770.5) vs Brentford (1771.8), Result: H
Match: Brighton (1808.0) vs Arsenal  (2082.9), Result: A
Match: Everton (1794.8) vs Burnley (1705.8), Result: H
Match: Fulham (1763.2) vs West Ham (1768.2), Result: H
Match: Leeds (1724.0) vs Sunderland (1595.4), Result: H
Match: Man City (2056.7) vs Nottm Forest (1757.4), Result: H
Match: Newcastle Utd (1821.8) vs Man Utd (1767.7), Result: H
Match: Tottenham  (1741.6) vs Crystal Palace (1760.2), Result: H
Match: Wolves (1741.0) vs Liverpool (2065.0), Result: A
Match: Arsenal  (2086.3) vs Everton (1802.3), Result: H
Match: Brentford (1761.8) vs Wolves (1738.3), Result: H
Match: Burnley (1698.3) vs Bournemouth  (1780.5), Result: H
Match: Chelsea (1963.6) vs Newcastle Utd (1830.2), Result: H
Match: Crystal Palace (1749.7) vs Leeds (1730.4), Result: H
Match: Liverpool (2067.7) vs Tottenham  (1752.2), Result: H
Match: Man Utd (1759.2) vs Aston Villa (1849.3), Result: H
Match: Nottm Forest (1754.4) vs Fulham (1773.4), Result: D
Match: Sunderland (1588.9) vs Brighton (1804.6), Result: H
Match: West Ham (1758.1) vs Man City (2059.8), Result: A
Match: Aston Villa (1836.8) vs West Ham (1755.1), Result: H
Match: Bournemouth  (1768.2) vs Man Utd (1771.7), Result: H
Match: Brighton (1789.1) vs Liverpool (2070.5), Result: A
Match: Everton (1799.0) vs Chelsea (1969.9), Result: A
Match: Fulham (1772.8) vs Burnley (1710.6), Result: H
Match: Leeds (1721.0) vs Brentford (1771.1), Result: H
Match: Man City (2062.8) vs Crystal Palace (1759.2), Result: H
Match: Newcastle Utd (1823.9) vs Sunderland (1604.4), Result: H
Match: Tottenham  (1749.4) vs Nottm Forest (1754.9), Result: H
Match: Wolves (1729.0) vs Arsenal  (2089.6), Result: A
Match: Arsenal  (2091.8) vs Bournemouth  (1778.3), Result: H
Match: Brentford (1759.7) vs Everton (1793.6), Result: H
Match: Burnley (1702.4) vs Brighton (1785.8), Result: H
Match: Chelsea (1975.3) vs Man City (2065.7), Result: H
Match: Crystal Palace (1756.2) vs Newcastle Utd (1828.3), Result: D
Match: Liverpool (2073.8) vs Fulham (1781.1), Result: H
Match: Man Utd (1761.6) vs Leeds (1732.4), Result: H
Match: Nottm Forest (1744.7) vs Aston Villa (1844.5), Result: H
Match: Sunderland (1600.0) vs Tottenham  (1759.5), Result: A
Match: West Ham (1747.4) vs Wolves (1726.8), Result: H
Match: Aston Villa (1831.7) vs Sunderland (1594.3), Result: H
Match: Brentford (1770.6) vs Fulham (1777.9), Result: H
Match: Chelsea (1987.9) vs Man Utd (1770.8), Result: H
Match: Crystal Palace (1758.2) vs West Ham (1756.8), Result: H
Match: Everton (1782.6) vs Liverpool (2076.9), Result: A
Match: Leeds (1723.3) vs Wolves (1717.4), Result: H
Match: Man City (2053.2) vs Arsenal  (2094.6), Result: H
Match: Newcastle Utd (1826.3) vs Bournemouth  (1775.5), Result: H
Match: Nottm Forest (1757.5) vs Burnley (1714.7), Result: H
Match: Tottenham  (1765.3) vs Brighton (1773.4), Result: H
Match: Arsenal  (2083.4) vs Newcastle Utd (1834.8), Result: H
Match: Bournemouth  (1766.9) vs Leeds (1733.1), Result: H
Match: Brighton (1763.2) vs Chelsea (1992.3), Result: A
Match: Burnley (1706.0) vs Man City (2064.4), Result: A
Match: Fulham (1767.7) vs Aston Villa (1835.8), Result: H
Match: Liverpool (2080.0) vs Crystal Palace (1768.2), Result: H
Match: Man Utd (1766.4) vs Brentford (1780.9), Result: H
Match: Sunderland (1590.3) vs Nottm Forest (1766.3), Result: H
Match: West Ham (1746.9) vs Everton (1779.5), Result: H
Match: Wolves (1707.5) vs Tottenham  (1775.5), Result: A